
  <h2>{{template.name}}</h2>
  <hr>

  <h3>Key History/Exam Items</h3>
  {{# each template.key_history}}
    {{# each section}}
      <h4>{{name}}</h4>
      <table class="table table-striped" style="width:700px;">
      {{# each items}}
        <tr>
          <td width="70%">{{item}} ({{value}})</td>
          <td width="30%">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-unaddressed" autocomplete="off" checked value="unaddressed">
              <label class="btn btn-outline-primary" for="{{item}}-btn-unaddressed">X</label>

              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-yes" autocomplete="off" value="yes">
              <label class="btn btn-outline-primary" for="{{item}}-btn-yes">Yes</label>

              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-no" autocomplete="off" value="no">
              <label class="btn btn-outline-primary" for="{{item}}-btn-no">No</label>

              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-unknown" autocomplete="off" value="unknown">
              <label class="btn btn-outline-primary" for="{{item}}-btn-unknown">Unk</label>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
    {{/each}}
  {{/each}}

  <h3>Risk Factors</h3>
  {{# each template.risk_factor}}
    {{# each section}}
      <h4>{{name}}</h4>
      <table class="table table-striped" style="width:700px;">
      {{# each items}}
        <tr>
          <td width="70%">{{item}} ({{value}})</td>
          <td width="30%">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-unaddressed" autocomplete="off" checked value="unaddressed">
              <label class="btn btn-outline-primary" for="{{item}}-btn-unaddressed">X</label>

              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-yes" autocomplete="off" value="yes">
              <label class="btn btn-outline-primary" for="{{item}}-btn-yes">Yes</label>

              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-no" autocomplete="off" value="no">
              <label class="btn btn-outline-primary" for="{{item}}-btn-no">No</label>

              <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-unknown" autocomplete="off" value="unknown">
              <label class="btn btn-outline-primary" for="{{item}}-btn-unknown">Unk</label>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
    {{/each}}
  {{/each}}

  <h3>Differential Diagnoses</h3>
  <table class="table table-striped" style="width:700px;">
  {{# each template.ddx}}
    <tr>
      <td width="60%">{{item}} ({{value}})</td>
      <td width="40%">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-unaddressed" autocomplete="off" checked value="unaddressed">
          <label class="btn btn-outline-primary" for="{{item}}-btn-unaddressed">X</label>

          <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-likely" autocomplete="off" value="considered and likely">
          <label class="btn btn-outline-primary" for="{{item}}-btn-likely">considered and likely</label>

          <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-unlikely" autocomplete="off" value="unlikely">
          <label class="btn btn-outline-primary" for="{{item}}-btn-unlikely">considered but unlikely</label>
        </div>
      </td>
    </tr>
  {{/each}}
  </table>

  <h3>Medical Decision Making</h3>
  <table class="table table-striped" style="width:700px;">
  {{# each template.mdm}}
    <tr>
      <td width="70%">{{text}} ({{value}})</td>
      <td width="30%">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-do_not_include" autocomplete="off" checked value="do not include">
          <label class="btn btn-outline-primary" for="{{item}}-btn-do_not_include">do not include</label>

          <input type="radio" class="btn-check" name="{{item}}-btn" id="{{item}}-btn-include" autocomplete="off" value="include">
          <label class="btn btn-outline-primary" for="{{item}}-btn-include">include</label>
        </div>
      </td>
    </tr>
  {{/each}}
  </table>

  <h3>Resources</h3>
  {{# each template.resource}}
    <a href="{{value}}" target="_blank" rel="noopener noreferrer">{{item}}</a><br>
  {{/each}}

  <hr>

  <span name="chartOutput" id="chartOutput"></span>

  <script>
    // How to get the value of a radio group:
    //  console.log(document.querySelector('input[name="diaphoresis-btn"]:checked').value)

    // obtain and decode encoded JSON from the helper function getJSONData
    const chartRawData = decodeURIComponent("{{{getJSONData}}}")
    // parse raw data into JSON format
    const chartData = JSON.parse(chartRawData)


    document.onclick = buildChart

    function buildChart(){
      console.log("Bulding chart for: {{template.name}}")
      chartHTML = "<h3>Should be building chart...</h3>" + JSON.stringify(chartData.diagnoses[1])
      document.getElementById("chartOutput").innerHTML = chartHTML

    }
  </script>
